{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Ogu chinedu's Portfolio | Projects</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="Ogu chinedu's digital portfolio" />
	    <meta name="keywords" content="web development, Django, Vue.js, Frontend, python, mobile first, responsive" />
        <meta name="author" content="Ogu chinedu" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Hi+Melody" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">  
    <link rel="stylesheet" href ="{% static 'css/howdy.css' %}"> <!-- this is how to import a css file in django
         first you create a 'static'folder and place the css file then import in this format-->
    </head>
    <body>
        <div id="navbarr">
        <ul>
            <a href="/about/">About</a>
            <a href="/resume/">Resume</a>
            <a href="/contact/">Contact</a>
            <a href="/">Home</a>    
        </ul>
        <div class="quote">
                <h3>"Believe. There is nothing you cannot achieve"
                </h3>
            </div>

        </div>
    </body>
</html>