{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Ogu chinedu's Portfolio | Contact</title>
        <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Hi+Melody" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">  
    <link rel="stylesheet" href ="{% static 'css/howdy.css' %}"> <!-- this is how to import a css file in django
         first you create a 'static'folder and place the css file then import in this format-->
    </head>
    <body>
            <div id="navbarr">
                    <ul>
                        <a href="/about/">About</a>
                        <a href="/projects/">Projects</a>
                        <a href="/resume/">Resume</a>
                        <a href="/">Home</a>    
                    </ul>
                    <div class="quote">
                            <h3>"..quote don finish"
                            </h3>
                            </div>
                </div>
    </body>
</html>